@import '../variables.scss';
@import '../mixins.scss';

.header {
  margin: auto;

  .finder {
    position: relative;
    display: flex;

    .searchInput {
      width: 300px;
      border: none;
      padding: 5px;
      height: 24px;
    }

    .searchButton {
      width: 40px;
      height: 34px;
      text-align: center;
      border: none;
    }
  }
}