@import '../variables.scss';
@import '../mixins.scss';

.item {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;

  .summary {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    height: 130px;
    margin-left: 20px;

    .price {
      font-size: 32px;
    }

    .title {
      margin-top: 10px;
      font-size: 18px;
    }

    .condition {
      margin-top: 14px;
      font-size: 12px;
    }

    .logoShipping {
      margin-left: 10px;
    }
  }
}

@include media-md {
 .item {
  flex-direction: row;
 }
}
