@import '../variables.scss';

.summary {
  width: 800px;
  margin: 10px auto;
  background-color: $white-color;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .product {
    width: 60%;

    .subtitle {
      font-size: 28px;
    }

    .description {
      font-size: 16px;
      overflow-wrap: break-word;
    }
  }

  .price {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;

    .condition {
      font-size: 14px;
      margin-top: 20px;
    }

    .title {
      font-size: 24px;
      margin-top: 20px;
    }

    .amount {
      margin-top: 20px;
      font-size: 46px;
    }

    .buyButton {
      margin-top: 20px;
      width: 200px;
      height: 36px;
      background-color: $blue-color-6;
      color: $white-color;
      border-radius: 5px;
      border: none;
    }
  }
}