// Base
$primary: #ffe600;

//Colection
$white-color: #fff;
$black-color: #000;
$gray-color-1: #333333;
$gray-color-2: #666666;
$gray-color-3: #999999;
$gray-color-4: #eeeeee;
$blue-color-6: #3483FA;

//sizes
$xs-max: 480px;
$sm-min: 481px;
$sm-max: 767px;
$md-min: 768px;
$md-max: 1024px;
$lg-min: 1025px;
$lg-max: 1280px;
$xlg-min: 1281px;